#homesection {
    margin: 0rem;   
    height: 100vh;
}

.bg {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    z-index: -2;
}

.layer {
    background-color: #6366F180;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

Header {
    width: 70%;
    position:absolute;
    top: 2%;
    left: 15%;
    z-index: 2;    
}
