nav {
    margin-top: 0;
    margin-left: 25rem;
    width: max-content;
    display: block;
    padding: 1rem;
    z-index: 2;
    border-radius: 1rem;
}

nav a {
    margin: 0 3rem;
    display: inline;
    color: var(--txt-0);
    
    font-weight: bold;
}

nav a:hover {
    width: 100%;
    left: 0;
    bottom: 1px;
    border-bottom: 2px solid #ffffff99;
    color: #000000;
}


nav a.active {
    color: var(--txt-1);
}